{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<script>
    $(document).ready(function(){
        names = {{drugs|safe}};
        var result = Object.keys(names);
        var output = {};
        for (var i=0; i<names.length; i++){
            output[names[i]] = null;
        }
        console.log(output);
        
    var chip = {
        tag: 'chip content',
        image: '', //optional
    };

    $('.chips').chips();
  $('.chips-placeholder').chips({
    placeholder: 'Enter Drug',
    secondaryPlaceholder: '+Tag',
  });
  $('.chips-autocomplete').chips({
    autocompleteOptions: {
      data: output,
      limit: Infinity,
      minLength: 1
    },
    // onChipAdd: addChip(chip['tag']),
  });})
</script>

<script>
    names = {{drugs|safe}};
    qty = {{qtys|safe}};
    var result = Object.keys(names);
    var output = {};
    var output2 = {};
    var final_drugs = [];
    for (var i=0; i<names.length; i++){
        var dName = names[i];
        dName = dName.toString().replace('"');
        dName = dName.trim();
        output[dName] = qty[i];
        output2[names[i]] = qty[i];
    }
    var old_stock = []
    console.log(output);
    console.log(output2);

    function getChips(){
        var elems = document.querySelectorAll('.chips');
        var instance = M.Chips.getInstance(elems[0]).chipsData;
        var drugList = [];
        var qtyList = [];
        console.log(output);
        for (var i=0; i<instance.length; i++){
            drugList.push(instance[i]['tag']);
            for (var j=0; j<Object.keys(output).length; j++){
                if(Object.keys(output)[j] == instance[i]['tag']){
                    qtyList.push(Object.values(output)[j])
                    final_drugs.push(Object.keys(output2)[j])
                }
            }
        }
        console.log(final_drugs);
        old_stock = qtyList;
        return drugList;
    }

    function createPres(array, qtys){
        var elem1 = document.querySelectorAll('.change');
        // console.log(elem1);
        // elem1.html('Hello World);
        var ht = "";
        if (array.length != 0){
            // ht = ht = ('<div class="row"><div class="col s4 m4 l4">'+'Drug'+'</div> <div class= "col s2 m2 l2"><p>Amount</p></div>')
            ht = ('<table class="table table-striped"><th>'+'Drug'+'</th><th>Current Stock</th> <th>Amount</th>')
            for (var j = 0; j<array.length; j++){
                ht = ht + ('<tr><td>'+array[j]+'</td><td>'+old_stock[j].toString()+'</td> <td><input type="number"id="id_amt"></td></tr>');
            }
            ht = ht + ('</table> <div class="row"><button class="btn btn-primary" onclick="submitRestock()">Submit</button></div>');
        }else {
            ht = '<div class="row">Please enter medication to restock</div>';
        }
        elem1[0].innerHTML = ht
        // console.log(elem1);
    }

    function getDrugs(){
        var drugs = getChips();
        createPres(drugs, old_stock);
    }

    function validate(array){
        var state = [];
        for (var i=0; i<array.length; i++){
            if (array[i].length == 0){
                return false;
            } else {
            for (var j=0; j<array[0].length; j++){
                if(array[i][j]==""||array[i][j]<=0){
                    state.push(false);
                } else{
                    state.push(true);
                }
            }
        }
        console.log(state);
        return state.every(checkItem);}
    }

    function checkItem(item){
        return item == true;
    }

    function medformValidate(array){
        var state = [];
        for(var i=0; i<array.length; i++){
            if (array[i]==""|array[i]==null){
                state.push(false);
            } else { 
                state.push(true); 
            }
        }
        console.log(state);
        return state.every(checkItem);
    }

    function submitRestock(){
        var elem1 = document.querySelectorAll('[id=id_amt]');
        var stock = [];
        for (var i=0; i<elem1.length; i++){
            stock.push(elem1[i].value);
        }
        // console.log(medformValidate(stock));
        if (medformValidate(stock)){
            var drugs = getChips();
            console.log(drugs, stock);
            new_loc = `checkout-drug/${final_drugs.join('->')}/${stock.toString()}`
            console.log(new_loc)
            location = new_loc;
            
        } else{
            alert('Please ensure that all fields are filled!');
        }
    }

    function converttoObj(array){
        var result = Object.keys(array);
        var output = {};
        for (var i=0; i<array.length; i++){
            output[array[i]] = array[i];
        }
        return output;
    }
</script>
    <div class="container">
        <div class="card">
            <p class="card-header">Search Student</p>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Checkout Drugs
                        </button>
                      </h2>
                      {% if not results %}
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      {% else %}
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      {% endif %}
                        <div class="accordion-body">
                            <form method="POST" action="#">
                                {% csrf_token %}
                                <div class="chips chips-autocomplete chips-placeholder">
                                    <input class="pres" name="seldrug">
                                </div>
                                <button type="button" class="btn btn-primary" onclick="getDrugs()">Search<i class="fs-5 bi-search"></i></button>
                            </form>
                            <br>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Results
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="change"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}