{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<script>
    var all_chips = [];

    function addChip(){
        var instance = M.Chips.getInstance(elem);
        all_chips.push(instance.chipsData);
        console.log(all_chips);
    }

    $(document).ready(function(){
        names = {{drugs|safe}};
    var result = Object.keys(names);
    var output = {};
    for (var i=0; i<names.length; i++){
        output[names[i]] = null;
    }
    console.log(output);
    
    var chip = {
        tag: 'chip content',
        image: '', //optional
    };

    $('.chips').chips();
  $('.chips-placeholder').chips({
    placeholder: 'Enter Drug',
    secondaryPlaceholder: '+Tag',
  });
  $('.chips-autocomplete').chips({
    autocompleteOptions: {
      data: output,
      limit: Infinity,
      minLength: 1
    },
    // onChipAdd: addChip(chip['tag']),
  });})
</script>



<div class="row"></div>
<div class="card">
    <h4 class="card-header">Record New Visit</h4>
    <div class="row container-fluid">
        <div class="card-body">
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{student.name}}</td>
                    </tr>
                    <tr>
                        <td>Student Number: </td>
                        <td>{{student.regno}}</td>
                    </tr>
                    <tr>
                        <td>Set: </td>
                        <td>{{student.student_set}}</td>
                    </tr>
                    {% if atts %}
                        <tr>
                            <td>Allegries</td>
                            <td>
                            {% for att in atts%}
                                <div class="chip">
                                    {{att}}
                                </div>
                            {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="row">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalPrevVisit">See Previous Visits</button>
            </div>
            <br>
            <form>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="chips chips-autocomplete chips-placeholder">
                    <input class="pres">
                </div>
                <div class="center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/" class="btn btn-danger">Cancel</a>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalPres">Submit</button>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalPrevVisit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Previous Visits</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if prev_visits%}
                                <table class="table table-striped">
                                    <thead>
                                        <th>Complain</th>
                                        <th>Diagnosis</th>
                                        <th>Prescription</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <!-- <th>Visit ID</th> -->
                                    </thead>
                                    <tbody>
                                        {% for comp,diag,pres,date,time,id in prev_visits%}
                                            <tr>
                                                <td>{{comp}}</td>
                                                <td>{{diag}}</td>
                                                <td>{{pres}}</td>
                                                <td>{{date}}</td>
                                                <td>{{time}}</td>
                                                <!-- <td>{{id}}</td> -->
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalPres" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">See Previous Visits</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <datalist id="no_options">
                {% for no in nos%}
                    <option value="{{no}}">
                {% endfor %}
            </datalist>
        </div>
    </div>
</div>

{% endblock %}