<head>
    {% load static %}
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

</head>
<body>
    <div class="container-fluid justify-content-center align-items-center d-flex" style="width: 800px;height: 600px;">
    <!-- <div class="container" style="width: 800px;height: 600px;"> -->
        <div class="card">
            <h5 class="card-header bg-primary text-white">LogIn</h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            
        </div>
    </div>
<!-- </div> -->
</body>
